$bg-light-colour: #e0e2e4;
$bg-light-card-colour: #e8e9ea;
$bg-dark-colour: #050403;
$bg-dark-card-colour: #222425;
$bg-secondary-color: #f3f3f6;
$colour-light-link: #b36ab3;
$colour-light-visited: #a556a5;
$colour-dark-link: #f9bbf6;
$colour-dark-visited: #e838a9;
$colour-primary: #e2bbf9;
$colour-lightGrey: #c3c7cd;
$colour-grey: #747681;
$colour-darkGrey: #3f4144;
$colour-error: #d43939;
$colour-success: #28bd14;
$grid-maxWidth: 96rem;
$grid-gutter: 2rem;
$font-size: 1.6rem;
$font-light-colour: #333435;
$font-dark-colour: #ecedef;
$font-family-sans: "Helvetica Neue", -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", sans-serif;
$font-family-mono: monaco, "Consolas", "Lucida Console", monospace;