* {
  box-sizing: border-box;
}

html.light-theme {
  background-color: #f0f0f0;
  color: #222;
}
.light-theme .background-zigzag {
  background-image: url("./images/zigzag.png");
}
.light-theme .background-zigzag-flip {
  background-image: url("./images/zigzag-flip.png");
}

html {
  background-color: #202020;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
html, body {
  width: 100%;
  height: 100%;
}

header {
  height: 20rem;
}
footer {
  color: #444;
}
a {
  color: #6699ee;
  white-space: pre;
  transition: color 0.15s ease-in-out;
}
a:hover {
  color: #77aaff;
}
a:visited {
  color: #aa99dd;
}
a:visited:hover {
  color: #bbaaee;
}

.background {
  position: relative;
  height: 100%;
  width: 100%;

  background: url("./images/gradientWide.png");
  background-size: 10000px 100%;
  animation: background-scrolling 60s linear infinite;
}

.background h1 {
  color: #222;
}

h1,h2 {
  text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.background-zigzag {
  background: url("./images/dark-zigzag.png") repeat-x;
  background-size: 11px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.background-zigzag-flip {
  background: url("./images/dark-zigzag-flip.png") repeat-x;
  background-size: 11px;
  background-position-x: 5px;
  height: 16px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.separator {
  display: block;
  height: 4rem;
}

.small-separator {
  display: block;
  height: 1.1rem;
  margin: 1rem 0;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  font-size: 125%;
  flex: auto;
  max-width: 960px;
}
.image-container img {
  box-shadow: 0 2px 10px #000;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.image-container img:hover {
  box-shadow: 0 4px 40px #111;
  transform: translateY(-2px);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

.heading {
  font-size: 200%;
  font-weight: 700;
  margin: 0;
  align-self: center;
}
.photo-frame {
  perspective: 600px;
  width: 96px;
  height: 96px;
  display: block;
}
.photo {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.photo-frame:hover .photo {
  transform: rotateY(180deg);
}
.photo>img {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  box-shadow: 0 2px 10px #000;
  border-radius: 1rem;
}
.photo__back {
  transform: rotateY(180deg);
}

#contact-via-the-internet:after {
  content: '@';
}
.project__title {
  font-size: 140%;
  font-weight: 700;
  margin: 1.5rem 0;
  text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
}
.project__period {
  display: inline-block;
  color: #999;
  font-size: 60%;
  font-weight: 400;
}
.project__link {
  display: inline-block;
  font-size: 60%;
}
.project__desc {
  flex: 1.5;
}
.project__pic {
  flex: 1;
  margin-left: 12px;
}
.project__pic > * {
  margin-bottom: 6px;
  display: table;
  width: 100%;
}
.project__pic img {
  max-width: 350px;
  width: 100%;
  overflow: hidden;
}
.project__contents {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.code {
  background-color: #333;
  padding: 6px;
  box-shadow: 0 2px 10px #000;
  border: 1px solid black;
}

@media only screen and (max-width: 380px) {
  pre {
    font-size: 75%;
  }

  header {
    padding: 2rem 0;
  }

  footer {
    padding: 1.1rem 0;
  }

  .container {
    padding: 5px 10px;
    margin: 0 10px;
  }
  .heading {
    line-height: 96px;
    font-size: 150%;
  }
  .photo-frame {
    width: 96px;
    height: 96px;
  }
}
@media only screen and (max-width: 960px) {
  .project__contents {
    flex-flow: column;
  }
  .project__pic {
    flex: 1;
    margin-left: 0px;
  }
  .project__pic img {
    max-width: unset;
  }
}

@keyframes background-scrolling {
  0% { background-position-x: 0px; }
  100% { background-position-x: 10000px; }
}