@use 'variables' as *;
@use 'mixins' as *;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $colour-lightGrey $colour-primary;
}

body {
    background-color: $bg-light-colour;
    line-height: 1.6;
    font-size: $font-size;
    color: $font-light-colour;
    font-family: $font-family-sans;
    margin: 0;
    padding: 0;
    height: 100%;

    @include cubic-transition();
    transition-property: color, background-color;
}

body.dark-theme {
    background-color: $bg-dark-colour;
    color: $font-dark-colour;
}

.input-field {
    font-family: inherit;
    padding: 0.8rem 1rem;
    border-radius: 4px;
    border: 1px solid $colour-lightGrey;
    font-size: 1em;
    transition: all 0.2s ease;
    display: block;
    width: 100%;

    &:hover {
    border-color: $colour-grey;
    }

    &:focus {
        outline: none;
        border-color: $colour-primary;
        box-shadow: 0 0 1px $colour-primary;
    }
}

select {
    -webkit-appearance: none;
    background: #f3f3f6 no-repeat 100%;
    background-size: 1ex;
    background-origin: content-box;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}

h1,h2,h3 {
    font-family: sans-serif;
    @include default-text-shadow();
}

[type="checkbox"],
[type="radio"] {
    width: 1.6rem;
    height: 1.6rem;
}

a {
    color: $colour-light-link;
    opacity: 0.85;

    transition-property: opacity;
    @include cubic-transition();

    &:visited {
        color: $colour-light-visited;
    }

    &:focus, &:hover {
        opacity: 1;
    }
}

.dark-theme {
    a {
        color: $colour-dark-link;

        &:visited {
            color: $colour-dark-visited;
        }
    }
}

input:disabled,
button:disabled,
input:disabled:hover,
button:disabled:hover {
    opacity: 0.4;
    cursor: not-allowed;
}